<%- include("./partials/header") %>

    <div class="product-page-wrapper">
        <div class="col-12 col-sm-8 col-md-7 col-lg-4 d-flex justify-content-center mb-5">
            <div class="card">
                <img src="<%= product.image %>" class="card-img-top" alt="nike shoe">
                <div class="card-body pb-2">
                    <h5 class="card-title text-center mb-5">
                        <%= product.name %>
                    </h5>
                    <p class="card-text text-end">رنگ: <span class="card-text-value me-5">
                            <%= product.color %>
                        </span></p>
                    <p class="card-text text-end">سایز: <span class="card-text-value me-5">
                            <%= product.size %>
                        </span></p>
                    <p class="card-text text-end">جنس: <span class="card-text-value me-5">
                            <%= product.type %>
                        </span></p>
                    <div class="mt-5 d-flex justify-content-between">
                        <a href="#" class="btn btn-info text-white d-inline">نهایی کردن سفارش</a>
                        <span class="rtl">
                            <span>تومان</span>
                            <span>
                                <%= product.price.toLocaleString() %>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("./partials/footer") %>